.footer {
  bottom: 0;
  background-color: #fafafa;
  padding: 10px 0px 10px 0px;
  width: 100%;
  border-top-width: 1px;
  border-color: #ddd;
  border-top-style: solid;
}

.footer li {
  display: inline;
}

.footer li a {
  color: #777;
  text-align: center;
  padding: 0px 9px;
  text-decoration: none;
  font-size: 13px;
}

.footer ul {
  list-style-type:  none;
  margin:  0;
  padding-left: 116px;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}
